# Configuración de Seguridad de la API (Para el Frontend Finamp)
API_KEY=tu_super_secreta_api_key_aqui

# Configuración de Descargas
MEDIA_DIR=/opt/synapmusic/media

# Configuración de Jellyfin
JELLYFIN_URL=http://localhost:8096
JELLYFIN_API_KEY=tu_jellyfin_api_key_aqui

# Configuración de deezer
DEEZER_ARL=pega_tu_codigo_largo_aqui
